<div mnFullpage>
  <div class="section fp-section fp-table contactSection">
    <div class="fp-tableCell">
      <div class="container">


        <div class="col-xs-12 col-sm-3 contactColumn">
          <h1>Contact Us</h1>
          <p>Got an idea? Have feedback for our stories? Business or library inquiries? We'd love to hear from you.</p>

          <ul>
            <li><a href="mailto:contact@aoestudios.com" title="Email us at contact@aoestudios.com">contact@aoestudios.com</a></li>
            <li><a href="http://m.me/aoestudios" title="Facebook Messenger" target="_blank">Facebook Messenger</a></li>
          </ul>
        </div>


        <div class="col-xs-12 col-sm-3 col-sm-offset-1 contactColumn">
          <h1>Social Connections</h1>
          <p>Ah, social media. We try to keep our posts fun, positive and informative! Join the conversation on your favorite platform.</p>
          <ul>
            <li><a href="https://twitter.com/aoestudios" title="Twitter" target="_blank">Twitter</a></li>
            <li><a href="https://www.facebook.com/aoestudios/" title="Facebook" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/aoestudios/" title="Instagram" target="_blank">Instagram</a></li>
            <li><a href="https://plus.google.com/+Aoestudios" title="Google Plus" target="_blank">Google+</a></li>
          </ul>
        </div>


        <div class="col-xs-12 col-sm-3 col-sm-offset-1 contactColumn">
          <h1>Subscribe</h1>
          <p>The AOE Studios mailing lists get you free copies of one or more of our stories. You'll also get previews of upcoming books, free artwork, contest, ebook giveaways, videos and more!</p>

          <div id="mc_embed_signup" tabindex="-1">
            <form action="//aoestudios.us14.list-manage.com/subscribe/post?u=7be29fbbc5a0c36473711812a&amp;id=d07ac32640" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
              <div id="mc_embed_signup_scroll">
                <div class="form-group is-empty">
                  <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required=""></div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7be29fbbc5a0c36473711812a_d07ac32640" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-raised btn-info subscribeButton"></div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section fp-auto-height">
    <div class="row footerRow">
      <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-1">
        &copy; 2017 AOE Studios. All Rights Reserved
      </div>
      <div class="col-xs-11 col-xs-offset-1 col-sm-3 col-sm-offset-3">
        <p>
          <a href="#" title="Terms of Use" routerLink="/termsOfUse">Terms of Use</a> &nbsp; |
          &nbsp; <a href="#" title="Privacy Policy" routerLink="/privacyPolicy">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</div>













