<div mnFullpage>
  <div class="section fp-section fp-table creatorsSection kchunter">
    <div class="fp-tableCell">
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-8">
            <h1>KC Hunter</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-4">
            <p>Author of the <strong>Young Adult</strong> <strong>urban fantasy</strong> novel <em>The Brothers Locke</em> and the upcoming <em>Kana Cold</em> <strong>Paranormal Thriller</strong> series.</p>
            <p>KC Hunter has been a storyteller since he was twelve-years-old, and through various media during his life, been telling them ever since. He won a <strong>National Young Writers Award</strong> in 1994 and had several poems published in his teen years.</p>
            <p>He later delved into music, live performance and interactive media development, but still continued to write through the early 2000s.</p>
            <p>In 2008, he developed the concept of merging his skills at web design, multimedia development and writing into a new form of storytelling media: Electronic Media Entertainment. His goal is to expand the universe of a story from being confined to one medium (a book, a game, a graphic novel) into a multi-layered universe that encompasses a variety of media types.</p>
            <p>He currently lives in Owings Mills, Maryland and is a member of various clubs in the Baltimore Metropolitan area.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section fp-section fp-table creatorsSection clivereznor">
    <div class="fp-tableCell">
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <h1>Clive Reznor</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-1">
            <p>Not much is known about the mysterious new horror author Clive Reznor. His background is nestled solidly in the dark web but he has been writing about the underside of the human imagination for fifteen years.</p>
            <p>With <strong>The Apollyon Game</strong> and <strong>The Immanent World Volume 2: Cluichi</strong>, Reznor has crafted some truly twisted tales and only plans to continue creeping out readers for years to come.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section fp-auto-height">
    <div class="row footerRow">
      <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-1">
        &copy; 2017 AOE Studios. All Rights Reserved
      </div>
      <div class="col-xs-11 col-xs-offset-1 col-sm-3 col-sm-offset-3">
        <p>
          <a href="#" title="Terms of Use" routerLink="/termsOfUse">Terms of Use</a> &nbsp; |
          &nbsp; <a href="#" title="Privacy Policy" routerLink="/privacyPolicy">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>


</div>













